<div class="full-page">
  <div class="form-info">
    <h1 class="form-title">Learn to code by watching others</h1>
    <p class="form-description">
      See how experienced developers solve problems in real-time. Watching
      scripted tutorials is great, but understanding how developers think is
      invaluable.
    </p>
  </div>
  <div class="boxes-container">
    <div class="purple-box">
      <p class="try-it"><strong>Try it free 7 days</strong> then $20/mo. thereafter</p>
    </div>
    <form class="white-box" [formGroup]="form">
      <div class="input-group">
        <input
          type="text"
          formControlName="firstName"
          placeholder="First Name"
          required
        />
        <div *ngIf="form.controls['firstName'].invalid && isInvalid" class="error-message">First Name cannot be empty</div>
        
      </div>

      <div class="input-group">
        <input
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
          required
        />
        <div *ngIf="form.controls['lastName'].invalid && isInvalid" class="error-message">Last Name cannot be empty</div>
      </div>

      <div class="input-group">
        <input
          type="email"
          formControlName="emailAddress"
          placeholder="Email Address"
          required
          [ngClass] = "{'email-example': form.controls['emailAddress'].invalid && form.controls['emailAddress'].touched}"
        />
        <div *ngIf="form.controls['emailAddress'].invalid && isInvalid" class="error-message">Looks like this is not an email</div>

      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          required
        />
        <div *ngIf="form.controls['password'].invalid && isInvalid" class="error-message">Password cannot be empty</div>
      </div>

      <button (click) = "saveForm()" class="green-button">Claim your free trial</button>
      <p class="termsandservices">
        By clicking the button, you are agreeing to our
        <strong class="redhighlight">Terms and Services</strong>
      </p>
    </form>
  </div>
</div>
